<nav class="navbar navbar-light bg-light px-3">
  <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand"%>
  <button type="button" class="btn btn-outline-primary"><%=link_to 'Add Flat', new_flat_path%></button>
</nav>
<div class="container my-3">
  <h1>Edit the flat "<%=@flat.name%>"</h1>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.submit %>
  <% end %>
</div>
